# Intro to Pandas

Pandas is a very commonly used package in Python. It allows us to easily work with dataframes (similar to tables in excel). As with any package, first we have to import it. It is also customary to include other packages you want to import up here.

In [1]:
#import pandas
import pandas as pd

To work with data (typically in a csv), you need to 'read' it into Python - you also want to store it as a dataframe, and name it something (typically df, or something that helps you remember what the data is)

In [2]:
df = pd.read_csv('census.csv',index_col='FIPS') #if we don't specify index_col, Python will default to 0,1,2...n

### Exploring the DataFrame

In [3]:
#.head() gives you the first 5 rows - you can also specify a different number for more or fewer rows
df.head()

,Geography,2017 Population,2017 Median Age,2017 Total households,2017 Median HHIncome,2017 Average household size,2017 Total families,2017 Average family size,2017 Percent owner-occupied housing units,2017 Percent renter-occupied housing units,2017 Population 16 years and over,2017 Unemployment rate (Population 16 years and over)
FIPS,,,,,,,,,,,,
10100,"Aberdeen, SD Micro Area",42608,37.8,17907,54533,2.29,11172,2.89,67.5,32.5,33671,1.8
10140,"Aberdeen, WA Micro Area",71454,43.5,28070,45483,2.44,17782,3.00,66.1,33.9,58156,10.1
10180,"Abilene, TX Metro Area",169000,33.9,60369,48156,2.57,39949,3.12,62.4,37.6,133221,4.4
10220,"Ada, OK Micro Area",38289,35.5,14512,46689,2.54,9459,3.07,64.0,36.0,30079,5.1
10300,"Adrian, MI Micro Area",98585,41.6,38115,51339,2.45,25130,3.00,77.7,22.3,79966,5.9

In [4]:
#tail() gives you the last 5 rows - here we specify to only get the last 2
df.tail(2)

,Geography,2017 Population,2017 Median Age,2017 Total households,2017 Median HHIncome,2017 Average household size,2017 Total families,2017 Average family size,2017 Percent owner-occupied housing units,2017 Percent renter-occupied housing units,2017 Population 16 years and over,2017 Unemployment rate (Population 16 years and over)
FIPS,,,,,,,,,,,,
49780,"Zanesville, OH Micro Area",85933,40.2,34348,43325,2.45,22488,2.99,67.3,32.7,68677,6.9
49820,"Zapata, TX Micro Area",14415,29.4,4457,34550,3.23,3400,3.79,72.3,27.7,9987,12.4

In [5]:
#tells you number of rows
len(df)

917

In [6]:
#gives you dimensions of your df
#not here that certain methods do not take () - they do not take arguments
df.shape

(917, 12)

In [7]:
#some summary stats for your df
df.describe()

,2017 Population,2017 Median Age,2017 Total households,2017 Median HHIncome,2017 Average household size,2017 Total families,2017 Average family size,2017 Percent owner-occupied housing units,2017 Percent renter-occupied housing units,2017 Population 16 years and over,2017 Unemployment rate (Population 16 years and over)
count,9.170000e+02,917.000000,9.170000e+02,917.000000,917.000000,9.170000e+02,917.000000,917.000000,917.000000,9.170000e+02,917.000000
mean,3.294721e+05,38.818212,1.215258e+05,50162.984733,2.542519,8.001179e+04,3.102912,67.353544,32.646456,2.623577e+05,6.653871
std,1.110860e+06,4.933767,3.937578e+05,10551.957266,0.234669,2.613062e+05,0.250603,6.310352,6.310352,8.867599e+05,2.307482
min,1.297200e+04,24.400000,3.731000e+03,23558.000000,2.050000,2.589000e+03,2.430000,39.000000,9.900000,9.987000e+03,1.500000
25%,4.034500e+04,36.000000,1.537500e+04,43526.000000,2.390000,1.032800e+04,2.940000,63.900000,28.400000,3.186400e+04,5.200000
50%,7.601200e+04,39.000000,3.020400e+04,49089.000000,2.500000,1.947200e+04,3.050000,68.100000,31.900000,6.164900e+04,6.400000
75%,1.844540e+05,41.600000,6.966200e+04,55021.000000,2.620000,4.529200e+04,3.210000,71.600000,36.100000,1.513270e+05,7.700000
max,2.019204e+07,66.400000,7.168027e+06,110190.000000,3.850000,4.738901e+06,4.610000,90.100000,61.000000,1.628735e+07,19.000000

In [8]:
#tells you data types & whether rows are null
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 917 entries, 10100 to 49820
Data columns (total 12 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Geography                                              917 non-null    object
 1   2017 Population                                        917 non-null    int64
 2   2017 Median Age                                        917 non-null    float64
 3   2017 Total households                                  917 non-null    int64
 4   2017 Median HHIncome                                   917 non-null    int64
 5   2017 Average household size                            917 non-null    float64
 6   2017 Total families                                    917 non-null    int64
 7   2017 Average family size                               917 non-null    float64
 8   2017 Percent owner-occupied housing units              917 non-null    float64
 9   2017 Percent renter-occupied housing units             917 non-null    float64
 10  2017 Population 16 years and over                      917 non-null    int64
 11  2017 Unemployment rate (Population 16 years and over)  917 non-null    float64
dtypes: float64(6), int64(5), object(1)
memory usage: 93.1+ KB

### Columns - Selecting & Renaming

In [9]:
df['Geography']

FIPS
10100                         Aberdeen, SD Micro Area
10140                         Aberdeen, WA Micro Area
10180                          Abilene, TX Metro Area
10220                              Ada, OK Micro Area
10300                           Adrian, MI Micro Area
                             ...
49660    Youngstown-Warren-Boardman, OH-PA Metro Area
49700                        Yuba City, CA Metro Area
49740                             Yuma, AZ Metro Area
49780                       Zanesville, OH Micro Area
49820                           Zapata, TX Micro Area
Name: Geography, Length: 917, dtype: object

In [10]:
#you can also do it this way, but does not work if columns have spaces
df.Geography

FIPS
10100                         Aberdeen, SD Micro Area
10140                         Aberdeen, WA Micro Area
10180                          Abilene, TX Metro Area
10220                              Ada, OK Micro Area
10300                           Adrian, MI Micro Area
                             ...
49660    Youngstown-Warren-Boardman, OH-PA Metro Area
49700                        Yuba City, CA Metro Area
49740                             Yuma, AZ Metro Area
49780                       Zanesville, OH Micro Area
49820                           Zapata, TX Micro Area
Name: Geography, Length: 917, dtype: object

In [11]:
#2 sets of square brackets gives you data (can be multiple columns), in df format
df[['Geography', '2017 Population']] #list inside the square brackets

                                          Geography  2017 Population
FIPS
10100                       Aberdeen, SD Micro Area            42608
10140                       Aberdeen, WA Micro Area            71454
10180                        Abilene, TX Metro Area           169000
10220                            Ada, OK Micro Area            38289
10300                         Adrian, MI Micro Area            98585
...                                             ...              ...
49660  Youngstown-Warren-Boardman, OH-PA Metro Area           548821
49700                      Yuba City, CA Metro Area           170227
49740                           Yuma, AZ Metro Area           204281
49780                     Zanesville, OH Micro Area            85933
49820                         Zapata, TX Micro Area            14415

[917 rows x 2 columns]

In [12]:
#similar for just one column
df[['Geography']] #this way it'll come out as a df instead of series

                                          Geography
FIPS
10100                       Aberdeen, SD Micro Area
10140                       Aberdeen, WA Micro Area
10180                        Abilene, TX Metro Area
10220                            Ada, OK Micro Area
10300                         Adrian, MI Micro Area
...                                             ...
49660  Youngstown-Warren-Boardman, OH-PA Metro Area
49700                      Yuba City, CA Metro Area
49740                           Yuma, AZ Metro Area
49780                     Zanesville, OH Micro Area
49820                         Zapata, TX Micro Area

[917 rows x 1 columns]

In [13]:
#inplace = True permanently renames the column in your df, the default is false, where the change would not carry over
df.rename(columns ={'2017 Population': 'Population'}, inplace=True)

In [14]:
#check to see it's changed
df.head(3)

,Geography,Population,2017 Median Age,2017 Total households,2017 Median HHIncome,2017 Average household size,2017 Total families,2017 Average family size,2017 Percent owner-occupied housing units,2017 Percent renter-occupied housing units,2017 Population 16 years and over,2017 Unemployment rate (Population 16 years and over)
FIPS,,,,,,,,,,,,
10100,"Aberdeen, SD Micro Area",42608,37.8,17907,54533,2.29,11172,2.89,67.5,32.5,33671,1.8
10140,"Aberdeen, WA Micro Area",71454,43.5,28070,45483,2.44,17782,3.00,66.1,33.9,58156,10.1
10180,"Abilene, TX Metro Area",169000,33.9,60369,48156,2.57,39949,3.12,62.4,37.6,133221,4.4

In [15]:
#you can also rename multiple columns at once, but all columns must be in the list, in the correct order
df.columns = ['geography', 'population', 'median_age',
             'total_households', 'median_hh_income', 
              'avg_hh_size','total_families',
             'avg_family_size', 'pct_owner_occupied_housing', 
             'pct_renter', 'pop_16_plus', 'unemp_rate']

In [16]:
#check to see it's changed
df.head(3)

,geography,population,median_age,total_households,median_hh_income,avg_hh_size,total_families,avg_family_size,pct_owner_occupied_housing,pct_renter,pop_16_plus,unemp_rate
FIPS,,,,,,,,,,,,
10100,"Aberdeen, SD Micro Area",42608,37.8,17907,54533,2.29,11172,2.89,67.5,32.5,33671,1.8
10140,"Aberdeen, WA Micro Area",71454,43.5,28070,45483,2.44,17782,3.00,66.1,33.9,58156,10.1
10180,"Abilene, TX Metro Area",169000,33.9,60369,48156,2.57,39949,3.12,62.4,37.6,133221,4.4

In [17]:
#to change the index column name, you need:
df.index.name = 'fips'

In [18]:
#one more time - our new df - these columns are closer to typical column naming conventions!
df.head(3)

,geography,population,median_age,total_households,median_hh_income,avg_hh_size,total_families,avg_family_size,pct_owner_occupied_housing,pct_renter,pop_16_plus,unemp_rate
fips,,,,,,,,,,,,
10100,"Aberdeen, SD Micro Area",42608,37.8,17907,54533,2.29,11172,2.89,67.5,32.5,33671,1.8
10140,"Aberdeen, WA Micro Area",71454,43.5,28070,45483,2.44,17782,3.00,66.1,33.9,58156,10.1
10180,"Abilene, TX Metro Area",169000,33.9,60369,48156,2.57,39949,3.12,62.4,37.6,133221,4.4

### Sorting Data

In [19]:
#we can sort data by columns
df.sort_values('population').head()

,geography,population,median_age,total_households,median_hh_income,avg_hh_size,total_families,avg_family_size,pct_owner_occupied_housing,pct_renter,pop_16_plus,unemp_rate
fips,,,,,,,,,,,,
46900,"Vernon, TX Micro Area",12972,37.2,5155,43913,2.39,3320,2.97,64.8,35.2,10349,5.8
18780,"Craig, CO Micro Area",13056,37.7,5103,53010,2.53,3363,3.09,69.8,30.2,10092,3.6
29500,"Lamesa, TX Micro Area",13095,33.1,4339,43201,2.61,2958,3.20,71.1,28.9,10267,6.7
28540,"Ketchikan, AK Micro Area",13745,39.5,5270,67321,2.55,3410,3.07,61.9,38.1,10963,7.0
46820,"Vermillion, SD Micro Area",13907,25.0,5302,41773,2.20,2599,2.84,51.6,48.4,11728,6.4

In [20]:
#can also sort by descending values
df.sort_values('population', ascending=False).head()

,geography,population,median_age,total_households,median_hh_income,avg_hh_size,total_families,avg_family_size,pct_owner_occupied_housing,pct_renter,pop_16_plus,unemp_rate
fips,,,,,,,,,,,,
35620,"New York-Newark-Jersey City, NY-NJ-PA Metro Area",20192042,38.2,7168027,72205,2.76,4738901,3.42,51.9,48.1,16287352,6.9
31080,"Los Angeles-Long Beach-Anaheim, CA Metro Area",13261538,36.4,4320174,65331,3.02,2942974,3.65,48.6,51.4,10626632,7.3
16980,"Chicago-Naperville-Elgin, IL-IN-WI Metro Area",9549229,37.0,3481330,65757,2.70,2276584,3.38,64.4,35.6,7567557,7.6
19100,"Dallas-Fort Worth-Arlington, TX Metro Area",7104415,34.6,2494426,63870,2.81,1735094,3.40,59.8,40.2,5422791,5.3
26420,"Houston-The Woodlands-Sugar Land, TX Metro Area",6636208,34.0,2271561,62922,2.89,1606319,3.48,60.4,39.6,5043235,6.1

### Running Functions on Columns

In [21]:
#similar to before, we can run functions on columns
df['population'].mean()

329472.1439476554

In [22]:
df.population.max()

20192042

In [23]:
#astype lets us choose the type of output - in this case this gives us integer
df['median_age'].astype(int)

fips
10100    37
10140    43
10180    33
10220    35
10300    41
         ..
49660    43
49700    34
49740    34
49780    40
49820    29
Name: median_age, Length: 917, dtype: int32

In [24]:
#other simple functions include:
#min()
#max()
#std()
#count()
#round()
#sample()

In [25]:
#we can chain together multiple functions
df['geography'].str.lower().head()

fips
10100    aberdeen, sd micro area
10140    aberdeen, wa micro area
10180     abilene, tx metro area
10220         ada, ok micro area
10300      adrian, mi micro area
Name: geography, dtype: object

In [26]:
#similar to before, we can define our own functions to use on columns
def add_one(number):
    return number + 1

In [27]:
#to use new function, we have to use "apply" function 
df['median_age'].apply(add_one).head()

fips
10100    38.8
10140    44.5
10180    34.9
10220    36.5
10300    42.6
Name: median_age, dtype: float64

### Adding / Removing Columns

In [28]:
#we can perform actions to columns and save them as new ones
df['pct_pop_16_plus'] = df['pop_16_plus'] / df['population']

#check if its there
df.head(3)

,geography,population,median_age,total_households,median_hh_income,avg_hh_size,total_families,avg_family_size,pct_owner_occupied_housing,pct_renter,pop_16_plus,unemp_rate,pct_pop_16_plus
fips,,,,,,,,,,,,,
10100,"Aberdeen, SD Micro Area",42608,37.8,17907,54533,2.29,11172,2.89,67.5,32.5,33671,1.8,0.790251
10140,"Aberdeen, WA Micro Area",71454,43.5,28070,45483,2.44,17782,3.00,66.1,33.9,58156,10.1,0.813894
10180,"Abilene, TX Metro Area",169000,33.9,60369,48156,2.57,39949,3.12,62.4,37.6,133221,4.4,0.788290

In [29]:
#we can also delete this new column - remember if we put inplace it will disappear
df.drop(columns = ['pct_pop_16_plus'], inplace=True)

#check if it happened 
df.head(3)

,geography,population,median_age,total_households,median_hh_income,avg_hh_size,total_families,avg_family_size,pct_owner_occupied_housing,pct_renter,pop_16_plus,unemp_rate
fips,,,,,,,,,,,,
10100,"Aberdeen, SD Micro Area",42608,37.8,17907,54533,2.29,11172,2.89,67.5,32.5,33671,1.8
10140,"Aberdeen, WA Micro Area",71454,43.5,28070,45483,2.44,17782,3.00,66.1,33.9,58156,10.1
10180,"Abilene, TX Metro Area",169000,33.9,60369,48156,2.57,39949,3.12,62.4,37.6,133221,4.4

### Working with Rows

In [30]:
# we can select rows by calling indexed numbers
df[1:] #skips the first row

,geography,population,median_age,total_households,median_hh_income,avg_hh_size,total_families,avg_family_size,pct_owner_occupied_housing,pct_renter,pop_16_plus,unemp_rate
fips,,,,,,,,,,,,
10140,"Aberdeen, WA Micro Area",71454,43.5,28070,45483,2.44,17782,3.00,66.1,33.9,58156,10.1
10180,"Abilene, TX Metro Area",169000,33.9,60369,48156,2.57,39949,3.12,62.4,37.6,133221,4.4
10220,"Ada, OK Micro Area",38289,35.5,14512,46689,2.54,9459,3.07,64.0,36.0,30079,5.1
10300,"Adrian, MI Micro Area",98585,41.6,38115,51339,2.45,25130,3.00,77.7,22.3,79966,5.9
10420,"Akron, OH Metro Area",703398,40.2,285229,53418,2.41,178289,3.03,66.3,33.7,574334,6.6
...,...,...,...,...,...,...,...,...,...,...,...,...
49660,"Youngstown-Warren-Boardman, OH-PA Metro Area",548821,43.9,230549,44947,2.30,145081,2.90,70.3,29.7,450375,6.9
49700,"Yuba City, CA Metro Area",170227,34.3,58068,53101,2.89,41859,3.40,57.6,42.4,129113,10.3
49740,"Yuma, AZ Metro Area",204281,34.1,71670,43253,2.77,53669,3.23,67.5,32.5,157101,10.9
49780,"Zanesville, OH Micro Area",85933,40.2,34348,43325,2.45,22488,2.99,67.3,32.7,68677,6.9
49820,"Zapata, TX Micro Area",14415,29.4,4457,34550,3.23,3400,3.79,72.3,27.7,9987,12.4

In [31]:
#or select based on conditions
df[df.population >= 500000]

,geography,population,median_age,total_households,median_hh_income,avg_hh_size,total_families,avg_family_size,pct_owner_occupied_housing,pct_renter,pop_16_plus,unemp_rate
fips,,,,,,,,,,,,
10420,"Akron, OH Metro Area",703398,40.2,285229,53418,2.41,178289,3.03,66.3,33.7,574334,6.6
10580,"Albany-Schenectady-Troy, NY Metro Area",881862,40.0,349325,65743,2.43,209391,3.12,64.3,35.7,725952,5.6
10740,"Albuquerque, NM Metro Area",905049,37.7,345399,50781,2.58,215883,3.27,67.1,32.9,720621,7.0
10900,"Allentown-Bethlehem-Easton, PA-NJ Metro Area",832790,41.3,318429,62479,2.54,215913,3.07,69.3,30.7,675813,6.7
12060,"Atlanta-Sandy Springs-Roswell, GA Metro Area",5700990,36.1,2029045,61733,2.77,1371453,3.38,63.2,36.8,4428759,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...
47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV M...",6090196,36.7,2170034,97148,2.76,1434070,3.37,63.4,36.6,4831659,5.5
48620,"Wichita, KS Metro Area",642339,35.8,245121,53953,2.57,160602,3.22,65.8,34.2,493324,5.3
49180,"Winston-Salem, NC Metro Area",658195,40.4,260518,47099,2.47,172069,3.05,67.6,32.4,525529,7.2
49340,"Worcester, MA-CT Metro Area",934923,40.2,350504,68311,2.57,231684,3.14,65.4,34.6,758777,6.3
49660,"Youngstown-Warren-Boardman, OH-PA Metro Area",548821,43.9,230549,44947,2.30,145081,2.90,70.3,29.7,450375,6.9

In [32]:
#you can also figure out how many rows fit into your conditions
age_rest = df[(df.median_age >= 20) & (df.median_age < 30)] #& means and
len(age_rest)

37

In [33]:
# you can choose and / or
df[(df.median_age < 20) | (df.median_age > 50)] #this means OR

,geography,population,median_age,total_households,median_hh_income,avg_hh_size,total_families,avg_family_size,pct_owner_occupied_housing,pct_renter,pop_16_plus,unemp_rate
fips,,,,,,,,,,,,
12700,"Barnstable Town, MA Metro Area",213900,52.4,95011,68048,2.22,58437,2.80,78.8,21.2,184832,5.5
14820,"Brevard, NC Micro Area",33291,50.6,14125,44559,2.27,9680,2.71,75.9,24.1,28443,6.8
15060,"Brookings, OR Micro Area",22377,55.6,10382,42519,2.13,5795,2.69,67.5,32.5,19361,9.9
18900,"Crossville, TN Micro Area",58178,50.5,25114,40994,2.29,17418,2.66,78.2,21.8,48840,7.6
23240,"Fredericksburg, TX Micro Area",25939,50.2,10795,56267,2.37,7558,2.87,76.3,23.7,21443,5.0
23820,"Gardnerville Ranchos, NV Micro Area",47632,50.8,20376,61176,2.32,14272,2.70,69.4,30.6,40149,6.2
26140,"Homosassa Springs, FL Metro Area",141373,55.9,62488,40574,2.22,39581,2.75,80.9,19.1,122938,9.9
29420,"Lake Havasu City-Kingman, AZ Metro Area",204691,50.4,83902,41567,2.39,53129,2.90,68.3,31.7,172208,10.1
34260,"Mountain Home, AR Micro Area",41093,51.8,18398,40072,2.21,12048,2.70,75.4,24.6,34719,5.8
35440,"Newport, OR Micro Area",47307,50.9,20674,43291,2.26,12372,2.80,63.6,36.4,40089,6.5
35840,"North Port-Sarasota-Bradenton, FL Metro Area",768381,51.6,318253,54473,2.38,200504,2.95,72.5,27.5,654611,6.1
37220,"Pahrump, NV Micro Area",43296,51.6,18077,44225,2.37,11010,2.96,69.3,30.7,36802,11.4
38820,"Port Angeles, WA Micro Area",73439,50.5,32280,48002,2.24,19472,2.74,69.6,30.4,62110,8.8
39140,"Prescott, AZ Metro Area",220972,52.2,94343,48259,2.29,59801,2.80,70.7,29.3,187588,7.3
39460,"Punta Gorda, FL Metro Area",173236,58.1,74884,46511,2.26,47776,2.77,78.2,21.8,153842,8.9
42680,"Sebastian-Vero Beach, FL Metro Area",147981,52.2,57911,49009,2.53,36622,3.18,75.8,24.2,125409,8.2
42700,"Sebring, FL Metro Area",100177,53.1,41350,36374,2.38,26519,2.97,74.7,25.3,84633,11.5
45540,"The Villages, FL Metro Area",116754,66.4,52360,54771,2.05,35920,2.43,90.1,9.9,109138,6.6

In [34]:
# you can also search for text - just specify string
df[df.geography.str.contains('NY')]

,geography,population,median_age,total_households,median_hh_income,avg_hh_size,total_families,avg_family_size,pct_owner_occupied_housing,pct_renter,pop_16_plus,unemp_rate
fips,,,,,,,,,,,,
10580,"Albany-Schenectady-Troy, NY Metro Area",881862,40.0,349325,65743,2.43,209391,3.12,64.3,35.7,725952,5.6
11220,"Amsterdam, NY Micro Area",49500,41.1,19700,47449,2.46,12501,3.01,68.9,31.1,39440,7.3
12180,"Auburn, NY Micro Area",78319,42.5,31428,54664,2.36,19844,2.91,70.8,29.2,64592,5.9
12860,"Batavia, NY Micro Area",58537,43.2,23951,54033,2.41,15546,2.98,72.5,27.5,48038,5.1
13780,"Binghamton, NY Metro Area",245446,40.5,98817,50673,2.37,60247,2.98,68.0,32.0,202533,7.0
15380,"Buffalo-Cheektowaga-Niagara Falls, NY Metro Area",1136670,40.8,474349,53534,2.33,284250,2.99,66.2,33.8,931678,5.6
18500,"Corning, NY Micro Area",97539,42.4,40351,50157,2.37,26077,2.90,71.8,28.2,78595,7.0
18660,"Cortland, NY Micro Area",48334,36.2,17925,52451,2.50,11002,3.04,64.7,35.3,40101,4.9
21300,"Elmira, NY Metro Area",86883,41.2,34664,51251,2.37,21665,2.94,68.1,31.9,70073,5.3
24020,"Glens Falls, NY Metro Area",126884,44.8,51237,56608,2.40,32801,2.92,72.3,27.7,105874,5.6
24100,"Gloversville, NY Micro Area",53955,43.4,22535,48033,2.34,14438,2.81,71.4,28.6,44129,7.6
26460,"Hudson, NY Micro Area",61481,47.4,25470,61093,2.32,16008,2.84,72.4,27.6,51694,5.0
27060,"Ithaca, NY Metro Area",104415,30.4,38986,56200,2.33,20429,2.84,55.5,44.5,90533,4.8
27460,"Jamestown-Dunkirk-Fredonia, NY Micro Area",130846,42.3,52983,44304,2.35,32986,2.94,70.0,30.0,106962,7.7
28740,"Kingston, NY Metro Area",180129,43.6,69662,61652,2.42,43393,3.02,69.4,30.6,151327,7.1
31660,"Malone, NY Micro Area",51054,40.5,18956,50733,2.38,12092,2.89,72.9,27.1,42189,8.2
35620,"New York-Newark-Jersey City, NY-NJ-PA Metro Area",20192042,38.2,7168027,72205,2.76,4738901,3.42,51.9,48.1,16287352,6.9
36300,"Ogdensburg-Massena, NY Micro Area",110817,38.0,41638,48330,2.38,26325,2.91,72.5,27.5,90701,8.8
36460,"Olean, NY Micro Area",78175,41.7,31723,45571,2.38,19976,2.95,71.3,28.7,62552,7.0
36580,"Oneonta, NY Micro Area",60750,42.0,23627,51254,2.33,15005,2.83,74.3,25.7,52019,6.7
38460,"Plattsburgh, NY Micro Area",81224,39.4,31680,52759,2.32,20084,2.79,68.0,32.0,68228,5.8
40380,"Rochester, NY Metro Area",1080653,39.9,431327,55256,2.41,267583,3.02,67.1,32.9,880207,6.3
42900,"Seneca Falls, NY Micro Area",34843,42.2,13536,51601,2.34,8396,2.89,73.2,26.8,28610,4.9
45060,"Syracuse, NY Metro Area",659262,39.2,258028,56305,2.44,161140,3.03,67.4,32.6,535014,6.6
46540,"Utica-Rome, NY Metro Area",295267,41.6,115659,50814,2.43,72659,3.04,67.7,32.3,239691,6.5
48060,"Watertown-Fort Drum, NY Metro Area",116567,31.9,43206,50322,2.54,29204,3.07,55.6,44.4,90892,8.0

### Copying to a New DataFrame & Exporting your Data

In [35]:
df_ny = df[df.geography.str.contains('NY')].copy()

In [36]:
df_ny.sort_values('population', ascending = False).head()

,geography,population,median_age,total_households,median_hh_income,avg_hh_size,total_families,avg_family_size,pct_owner_occupied_housing,pct_renter,pop_16_plus,unemp_rate
fips,,,,,,,,,,,,
35620,"New York-Newark-Jersey City, NY-NJ-PA Metro Area",20192042,38.2,7168027,72205,2.76,4738901,3.42,51.9,48.1,16287352,6.9
15380,"Buffalo-Cheektowaga-Niagara Falls, NY Metro Area",1136670,40.8,474349,53534,2.33,284250,2.99,66.2,33.8,931678,5.6
40380,"Rochester, NY Metro Area",1080653,39.9,431327,55256,2.41,267583,3.02,67.1,32.9,880207,6.3
10580,"Albany-Schenectady-Troy, NY Metro Area",881862,40.0,349325,65743,2.43,209391,3.12,64.3,35.7,725952,5.6
45060,"Syracuse, NY Metro Area",659262,39.2,258028,56305,2.44,161140,3.03,67.4,32.6,535014,6.6

In [37]:
#export data to a CSV
df_ny.sort_values('population', ascending = False).to_csv('ny_cities.csv')